/*@import url(common.css);*/
/*@import url(monokai.css);*/

.highlight, pre {
    overflow-y: hidden;
    background-color: #272822;
    line-height: 24px;
}
.highlight:before{
    background-color: #272822;
}

.highlight table>tbody>tr:nth-of-type(odd) {
    background-color: #272822;
}